<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login Lixão</title>
    {% block head_imports %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    {% endblock head_imports %}

    {% load static %}
    <script src="{% static 'js/func.js' %}"></script>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>

</head>
<body>
{% if user.is_authenticated %}
    <h3>{{ user.username }}</h3>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}
{% endblock %}

</body>
</html>

