{% extends 'meulogin/base.html' %}
{% block content %}
<h1>Edite Usuário</h1>
<form method="post">
    {% csrf_token %}
    {% for field in formEditProfile %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }} <br>
            {% if field.help_text %}
                <small>{{ field.help_text | safe }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit">Salvar</button>
</form>
{% endblock %}