{% extends 'meulogin/base.html' %}
{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{formLogin.as_p}}
    <button type="submit" name="login">Login</button>
</form>
<h2>Cadastro de usuário</h2>
<form method="post">
    {% csrf_token %}
    {% for field in formCadastro %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }} <br>
            {% if field.help_text %}
                <small>{{ field.help_text | safe }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit" name="cadastro">Cadastrar</button>
</form>
{% endblock %}
